@import "src/assets/styles/variables";

:host {
  .thick-top {
    height: 5px;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    background: $primary;
    left: 0;
  }

  mat-toolbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    justify-items: center;
    .home-icon {
      border-radius: 5px;
    }
  }
}
