@import "src/assets/styles/variables";

.base-container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: $header-height 1fr $footer-height;

  #header {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #cccccc;
  }
  #footer {
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: #cccccc;
  }
  #content {
    height: 100%;
    padding: 0 20px;
    overflow: auto;
  }
}
