<div class="example">
  <div class="block">
    <div
      class="side -main"
      [ngStyle]="{
        'background-image': 'url(' + (selectedMovie$ | async)?.img + ')'
      }"
    ></div>
    <div
      class="side -left"
      [ngStyle]="{
        'background-image': 'url(' + (selectedMovie$ | async)?.img + ')'
      }"
    ></div>
  </div>
  <div class="block">
    <div
      class="side -main"
      [ngStyle]="{
        'background-image': 'url(' + (selectedMovie$ | async)?.img + ')'
      }"
    ></div>
    <div
      class="side -left"
      [ngStyle]="{
        'background-image': 'url(' + (selectedMovie$ | async)?.img + ')'
      }"
    ></div>
  </div>
  <div class="block">
    <div
      class="side -main"
      [ngStyle]="{
        'background-image': 'url(' + (selectedMovie$ | async)?.img + ')'
      }"
    ></div>
    <div
      class="side -left"
      [ngStyle]="{
        'background-image': 'url(' + (selectedMovie$ | async)?.img + ')'
      }"
    ></div>
  </div>
</div>
