/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/index.scss";

.list {
  background: black;
  color: white;
  opacity: 0.5;
  padding: 1rem;
  border-radius: 5px;
  z-index: 1;
  transition: $general-transition;
  max-height: 20rem;
  position: absolute;
  width: 100%;
  left: 0;
  overflow: auto;
  bottom: 0;
  &.hide {
    transition: $general-transition;
    height: 0 !important;
    padding: 0;
    z-index: -1;
  }
}
