<div class="search-container">
  <app-search-input></app-search-input>
  <app-button
    *ngIf="(searchTerm$ | async).length"
    (clicked)="hideList = !hideList"
    [config]="{ text: hideList ? 'Un-hide list' : 'Hide list' }"
  >
  </app-button>
  <div
    class="list"
    [ngClass]="{ hide: hideList || !(searchTerm$ | async).length }"
  >
    <ul>
      <li
        class="movies-list--item"
        *ngFor="
          let movie of movies$
            | async
            | filterOnSearchTerm: (searchTerm$ | async)
        "
        (click)="selectMovie(movie)"
      >
        {{ movie.name }}
      </li>
    </ul>
  </div>
</div>

<div class="movies--container">
  <app-grid
    [data]="movies$ | async"
    [localSearchTermRef]="searchTerm$ | async"
  ></app-grid>
</div>
