<div class="search-container">
  <app-search-input></app-search-input>
  <app-button
    *ngIf="(searchTerm$ | async).length"
    (clicked)="hideList = !hideList"
    [config]="{ text: hideList ? 'Un-hide list' : 'Hide list', color: 'white' }"
  >
  </app-button>
  <app-list
    [config]="{
      data: movies$ | async,
      hide: !(searchTerm$ | async).length || hideList,
      filterTerm: searchTerm$ | async
    }"
    (clicked)="onListItemSelect($event)"
  ></app-list>
</div>

<div class="movies--container">
  <app-grid
    [data]="movies$ | async"
    [localSearchTermRef]="searchTerm$ | async"
  ></app-grid>
</div>
