<div class="genres">
  <app-button
    [config]="{
      text: 'Genre',
      icon: 'filter_list',
      backgroundColor: color.$secondary,
      disabled: getRouteUrl() !== '/movies'
    }"
    (clicked)="toggleList()"
  ></app-button>

  <div class="list" [ngClass]="{ hide: !listDisplayGenres$ | async }">
    <app-button
      (clicked)="onFilterByGenre(genresList.selectedOptions.selected)"
      [config]="{
        text: 'Filter By Genre',
        color: 'white'
      }"
    ></app-button>
    <app-button
      (clicked)="genresList.deselectAll(); onFilterByGenre([])"
      [config]="{ text: 'Reset', color: 'white' }"
    ></app-button>
    <mat-selection-list #genresList>
      <mat-list-option *ngFor="let genre of genres" [value]="genre">
        {{ genre }}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
