@import "src/assets/styles/variables";

:host {
  .genres {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0.5rem;
    align-items: center;
    .current-filters {
      box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px $tertiary,
        0 0 140px 90px $primary;
    }
  }
  .list {
    top: $header-height;
    bottom: unset !important;
    .buttons {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1rem;
    }
  }
}
