@import "src/assets/styles/variables";
:host {
  .genres {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0.5rem;
    align-items: center;
  }
  .list {
    top: $header-height;
    bottom: unset !important;
    .buttons {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1rem;
    }
  }
}
